<% include ../includes/header %>
<% include ../includes/navigation %>

<div class="container">
    <% if(prod.length > 0) {%>
        <% prod.forEach(p => { %>
            <div class="row">
                <div class="col">
                    <h1><%= p.name %></h1>
                    <h2><%= p.cartItem.quantity %></h2>
                    <form action="/cartDelete?edit=true" method="POST">
                        <input type="hidden" value="<%= p.pid %>" name="productId">
                        <button class="btn btn-warning" type="submit">Decrease 1</button>
                    </form>
                    <form action="/cartDelete" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" value="<%= p.pid %>" name="productId">
                        <button class="btn btn-danger" type="submit">Cancel</button>
                    </form>
                    <hr>                    
                </div>
            </div>
        <% });%>
        <form action="/orders" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-primary" type="submit">Order Now</button>
        </form>
    <% }else{ %>
        <h1>No Products in Cart!</h1>
    <% }%>
</div>

<% include ../includes/footer %>