<%- include ../includes/header %>
<%- include ../includes/navigation %>

<!-- <div class="jumbotron">
	<h1 class="display-4">The hottest Products</h1>
	<a class="btn btn-lg btn-primary" href="#" role="button">Readmore</a>
</div> -->

<div class="container-fluid formShallow formLimited">
	<% if(prod.length > 0){ %>
	<div class="row" style="padding-left: 5rem; padding-right: 3rem;">
		<% prod.forEach( product => { %>
		<div class="col-fix" style="padding: 1rem;">
			<div class="card-fluid productsCard shallow">
				<img src="/<%= product.image %>" class="card-img-top img-fluid" alt="<%= product.name %>">
				<div class="card-body cardBodyInfo">
					<h5 class="card-title"><%= product.name %></h5>
					<p><%= product.type %> type</p>
					<p>$ <%= product.price %></p>
				</div>
				<div class="card-body cardBodyButton" style="padding-left: 3rem;">
					<div class="row">
						<a href="/products/<%= product.pid %>" class="btn btn-info">More info</a>
						<%- include("../includes/addToCart.ejs", {product: product}) %>
					</div>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
	<% } else { %>
	<div class="center">
		<h1>No Products Found!</h1>
	</div>
	<% } %>
</div>


<%- include ../includes/footer %>