<% include ../includes/header %>
<% include ../includes/navigation %>

<div class="container">
    <% if(orders.length > 0) {%>
        <% orders.forEach(order => { %>
                <h3><a href="/orders/<%= order.id %>">Inovice</a> - <%= order.id %></h3>
                
                <h4></h4>
                <% order.orderItems.forEach(item => { %>
                    <div class="row">
                        <div class="col">
                            <p><%= item.productName %></p>
                        </div>
                        <div class="col">
                            <p><%= item.quantity %></p>
                        </div>
                    </div>
                <% })%>
                <h4><%= order.createdAt %></h4>
                <hr>
        <% });%>
    <% }else{ %>
        <h1>No Products in Orders!</h1>
    <% }%>
</div>

<% include ../includes/footer %>