<% include ../includes/header %>
<% include ../includes/navigation %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail productsInfo productsAppend shallow">
                <img class="img-responsive img-fluid productsImg" src="/<%= prod.image %>">
                <div class="caption-full productsInfoText shallow">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Product:</h3>
                        </div>
                        <div class="col-md-9">
                            <h4><a><%= prod.name %></a></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Type:</h3>
                        </div>
                        <div class="col-md-9">
                            <h4><a><%= prod.type %></a></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Price:</h3>
                        </div>
                        <div class="col-md-9">
                            <h4><a>$ <%= prod.price %></a></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Description:</h3>
                        </div>
                        <div class="col-md-9">
                            <h4><a><%= prod.description %></a></h4>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <%- include("../includes/addToCart.ejs", {product: prod}) %>
                </div>
                <% if(currentUser && prod.userId == currentUser.id){ %>
                <div class="input-group btnEditDeleteGroup">
                    <a class="btn btn-sm btn-warning btnEdit" href="/products/<%= prod.pid %>/edit">Edit</a>
                    <form action="/products/<%= prod.pid %>?_method=DELETE" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-sm btn-danger btnDelete">Delete</button>
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="well-fluid productsInfo productInfoDel">
        <div class="btnAddComment text-right" style="padding-right: 1rem;">
            <a class="btn btn-lg btn-primary" href="/products/<%= prod.pid %>/comments/new">Add new comment</a>
        </div>
        <% comment.forEach(c => { %>
        <div class="row productsComments shallow">
            <div class="col-md-10">
                <b>
                    <h4><%= c.user.username %></h4>
                </b>
                <h5><%= c.text %></h5>
                <i>
                    <p><%= new Date(c.createdAt).toLocaleString() %></p>
                </i>
            </div>
            <div class="col-md-2">
                <% if(currentUser && c.userId == currentUser.id){ %>
                <div class="input-group btnEditDeleteGroup">
                    <a class="btn btn-sm btn-warning btnEdit"
                        href="/products/<%= prod.pid %>/comments/<%= c.cid %>/edit">Edit</a>
                    <form action="/products/<%= prod.pid %>/comments/<%= c.cid %>?_method=DELETE" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-sm btn-danger btnDelete">Delete</button>
                    </form>
                </div>
                <% } %>
            </div>

        </div>
        <% }) %>
    </div>
</div>

<% include ../includes/footer %>